.lista {
    max-width: 300px;
    max-height: 100px;
    font-size: 16px;
}

.lista .jogador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 2px 2px;
    cursor: pointer;
    border-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.lista .jogador:hover {
    transform: scale(1.05);
}

.lista .jogador span {
    align-items: center;
    padding: 20px;
}

.lista .jogador.ativo {
    background-color: #D4AF37;
    color: #000000;
}